/*
A theme adapted by Byrne Reese from the original 2813 theme by ???
name: 2813
designer: TODO
designer_url: http://www.tubetorial.com/
layouts: layout-wtt
*/

body {
	font-family: 'Lucida Grande',Verdana,Arial,Sans-Serif;
	border-top-width: 6px;
	border-top-style: solid;
	border-top-color: rgb(40, 154, 207);
	border-bottom-width: 6px;
	border-bottom-style: solid;
	border-bottom-color: rgb(40, 154, 207);
	color: #444444;
	background: white;
}
a {
	text-decoration: none;
	color: rgb(51, 136, 204);
}
a:link, a:visited, a:active
{
    outline-color: invert;
    outline-width: medium;
}
a:hover
{
    text-decoration: none;
    color: rgb(255, 255, 255);
    background-color: rgb(51, 136, 204);
}

#container-inner {
	margin: 0 auto 0 auto;
	width: 900px;
	padding: 0;
}
#content-inner { padding: 0; margin: 0; }
.layout-wtt #alpha-inner,
.layout-wtt #alpha {
	width: 450px;
	float: left;
}
.layout-wtt #beta-inner,
.layout-wtt #beta {
	width: 200px;
	left: 240px;
}
.layout-wtt #gamma-inner,
.layout-wtt #gamma {
	width: 200px;
	right: 180px;
}
#header-inner { padding: 20px 0 20px 0; }

#alpha-inner, #beta-inner, #gamma-inner { padding: 0; margin: 0; width: 100%; }
#header-name {
	font-family: Verdana, "Bitstream Vera Sans", Sans-Serif;
	text-transform: lowercase;
	font-weight: bold;
	margin: 0;
	font-size: 28px;
	letter-spacing: -1px;
}
#header-name a {
	color: black;
	text-decoration: none;
}
#header-name a:hover {
	color: black;
	background: none;
	text-decoration: underline;
}
	
#header-description {
	font-size: 13px;
	font-family: Verdana, "Bitstream Vera Sans", Sans-Serif;
	margin: 0;
}

.entry-title a:hover {
	background-color: white;
}
.entry-title a,
.entry-title {
	font-size: 20px;
	font-family: "Tahoma";
	color: rgb(68,68,68);
	text-align: left;
	text-decoration: none;
	padding: 0;
	margin:0;
}
.entry-content {
	font-size: 13px;
	margin: 0;
	padding: 0;
}
.asset-meta {
	font-family: Verdana, "Bitstream Vera Sans", Sans-Serif;
	font-size: 12px;
	color: #999;	
	padding: 0;
	margin:0;
}
.asset-meta a {
	text-decoration: none;
	color: #666;
}

h2.date-header {
	display: none;
}
.widget-header {
	font-size: 13px;
	font-weight: bold;
	color: rgb(85, 85, 85);
	text-transform: uppercase;
}
.widget-header a {
        color: rgb(68, 68, 68);
}
h3.widget-header {
	font-size: 12px;
	font-weight: bold;
	color: rgb(85, 85, 85);
	text-align: left;
}
.widget {
	margin-bottom: 10px;
}
.widget ul
{
	padding: 0;
	margin: 0;
	list-style-type: none;
	list-style-image: none;
	list-style-position: outside;
}

.widget li {
        font-family: 'Lucida Grande',Verdana,Arial,Sans-Serif;
	padding-left: 0px;
	margin-left: 0px;
	margin-bottom: 8px;
	font-size: 0.8em;
}
.widget-content {
	padding: 0;
	margin: 0;
}
.widget-content .thumbnail img {
	padding: 5px;
	margin: 5px;
	border: 1px solid #999999;
}
.asset-body {
	margin-left: 0;
	line-height: 170%;
}
.asset-footer, .asset-footer a {
	color: #9C9C9C;
	text-align: left;
	margin-left: 0;
}
.widget-archive-category a {
	color: rgb(153,153,153);
	display: block;
}
.widget-archive-category {
	text-transform: uppercase;
	font-size: 16px;
	color: rgb(153,153,153);
	line-height: 14px;
}
.widget li a { text-decoration: none; }
.widget li a:hover { color: white; text-decoration: none; }
.widget-archive-category li li {
	margin-left: 10px;
	font-size: 10px;
}
.widget-search .widget-header {
	display: none;
}
input#search { width: 100px; }
.widget-categories a:hover {
     color : #000000;
     background-color : transparent;
}
.asset-footer a:hover {
	color: #ffffff;
}

h3 {
	font-size: 20px;
	font-family: "Tahoma";
	color: rgb(68,68,68);
	text-align: center;
}
.comments-content {
	padding-left: 0;
}
.comment-content {
	line-height: 175%;
	margin-left: 0;
}
p.comment-footer {
	font-family: "Tahoma";
	font-size: 14px;
	margin-left: 0;
}
p.comment-footer a {
	font-weight: bold;
}
.comments-open-content {
	margin-left: 0;
	line-height: 175%;
}
textarea#comment-text {
	width: 400px;
}
p#comments-open-text {
	clear: both;
	margin-top: 10px;
}
#comments-open-data label {
	float: left;
	font-weight: bold;
	font-size: 10px;
	font-family: Verdana, Sans-Serif;
	text-transform: lowercase;
	margin-right: 10px;
	text-align: right;
}
.comments-open-data p {
	margin-top: 10px;
}
.search-results-container h3 {
	text-align: left;
}
.entry-content h2
{
        font-size: 13px;
        font-weight: bold;
        color: #525252;
        text-align: left;
        font-family: 'Lucida Grande',Verdana,Arial,Sans-Serif;
        border-bottom: 1px solid #CCCCCC;
}
.widget-pages li a {
	color: #999;	
        font-family: 'Lucida Grande',Verdana,Arial,Sans-Serif;
	font-size: 18px;
	text-transform: uppercase;
	text-decoration: none;
}
.widget-pages li a:hover {
        color: #525252;
	background: none;
}